version: "3.9"

services:
  tracker:
    build:
      context: .
    restart: unless-stopped

    ports:
      - "9005:9005"

    environment:
      - TZ=Europe/Berlin
      - TASKS_PATH=/config/tasks.json

    volumes:
      - /opt/processtracker/config/tasks.json:/config/tasks.json:ro
      - /opt/processtracker/data:/data
